/* app/globals.css */
@import "tailwindcss";

body {
  @apply bg-gray-900 text-gray-100;
  background-image: radial-gradient(circle at 1px 1px, #4a5568 1px, transparent 0);
  background-size: 2rem 2rem;
  min-height: 100vh;
  font-family: 'Inter', sans-serif; /* Pastikan font ini diimpor jika ingin digunakan */
}